*{
  background-color: whitesmoke;
}
h1{
  background-color: rgb(80, 80, 238);
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
  margin: 8rem 0;
  padding: 2rem 0;

}
.btn-conexion{
  margin-top: 2rem;
}
.btn-conexion button:hover{
  transform: scale(1.1);
  transition: all 300ms ease;
}
.Calendars{
  text-align: center;
  background-color: darkorange;
}
.Calendars table{
  overflow: hidden;
}
.Calendars td{
  font-family: sans-serif;
}
.Calendars tr:hover td{
  transform: scale(1.1);
  transition: all 300ms ease;
  z-index: 1;              /* se pone arriba de las demás */
  position: relative; 
  border-bottom: 5px solid black;
  cursor: pointer;
}
